Rabbitmq/XMLHeartBeat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="heartbeat">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="code">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{1,6}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="origin">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(AD|FrontEnd|Canvas|Monitor|Office|Control)" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="timestamp" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="nameService">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z -]{1,16}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CPUload" type="xs:double" />
              <xs:element name="RAMload" type="xs:double" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>