daemon-console/UserSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UUID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[0-9A-Fa-f]{8}-?([0-9A-Fa-f]{4}-?){3}[0-9A-Fa-f]{12}|" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="method">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(CREATE|UPDATE|DELETE)" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="origin">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(AD|FrontEnd|Canvas|Monitor|Office|Control|UUID)" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="version">
								<xs:simpleType>
									<xs:union>
										<xs:simpleType>
											<xs:restriction base='xs:string'>
												<xs:length value='0' />
											</xs:restriction>
										</xs:simpleType>
										<xs:simpleType>
											<xs:restriction base='xs:integer'></xs:restriction>
										</xs:simpleType>
									</xs:union>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sourceEntityId" type="xs:string" />
							<xs:element name="timestamp" type="xs:dateTime" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="firstname">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{1,32}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="lastname">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{1,32}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="email">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9]+(\.[\-a-zA-Z0-9]*[a-zA-Z0-9])+" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="birthday" type="xs:date" />
							<xs:element name="role">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(student|tutor|admin)" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="study">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-zA-Z -]{1,16}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
