TestReceiver/EventSchema.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UUID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Fa-f]{8}-?([0-9A-Fa-f]{4}-?){3}[0-9A-Fa-f]{12}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="organiserUUID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Fa-f]{8}-?([0-9A-Fa-f]{4}-?){3}[0-9A-Fa-f]{12}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="method">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(CREATE|UPDATE|DELETE)" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="origin">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(AD|FrontEnd|Canvas|Monitor|Office|Control)" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="timestamp" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z0-9àáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{1,32}" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="startEvent" type="xs:dateTime" />
              <xs:element name="endEvent" type="xs:dateTime" />
              <xs:element name="description">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="2048" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="location">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="64" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>