Office_Main/daemon-console/Errorxsd.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="error">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:pattern value="[0-9][0-9][0-9][0-9]" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="origin">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(AD|FrontEnd|Canvas|Monitor|Office|Control|UUID)" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="timestamp" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="objectUUID">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Fa-f]{8}-?([0-9A-Fa-f]{4}-?){3}[0-9A-Fa-f]{12}|" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="objectSourceId" type="xs:string" />
              <xs:element name="objectOrigin">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(AD|FrontEnd|Canvas|Monitor|Office)" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="description">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="512" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>